In [1]:
import pandas as pd # Библиотека Pandas для работы с табличными данными
import numpy as np # библиотека Numpy для операций линейной алгебры и прочего
import matplotlib.pyplot as plt # библиотека Matplotlib для визуализации
import seaborn as sns # библиотека seaborn для визуализации
import numpy as np # библиотека Numpy для операций линейной алгебры и прочего

# предварительная обработка числовых признаков
from sklearn.preprocessing import MinMaxScaler# Импортируем нормализацию от scikit-learn
from sklearn.preprocessing import StandardScaler # Импортируем стандартизацию от scikit-learn
from sklearn.preprocessing import PowerTransformer  # Степенное преобразование от scikit-learn
# предварительная обработка категориальных признаков
from sklearn.preprocessing import OneHotEncoder# Импортируем One-Hot Encoding от scikit-learn
from sklearn.preprocessing import OrdinalEncoder# Импортируем Порядковое кодированиеот scikit-learn

from sklearn.pipeline import Pipeline # Pipeline.Не добавить, не убавить

from sklearn.compose import ColumnTransformer # т.н. преобразователь колонок

from sklearn.base import BaseEstimator, TransformerMixin # для создания собственных преобразователей / трансформеров данных

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
DF = pd.read_csv('https://raw.githubusercontent.com/dayekb/Basic_ML_Alg/main/cars_moldova_no_dup.csv', delimiter = ',')
DF

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,Toyota,Prius,2011,Hatchback,195000.0,1800.0,Hybrid,Automatic,7750.0
1,Renault,Grand Scenic,2014,Universal,135000.0,1500.0,Diesel,Manual,8550.0
2,Volkswagen,Golf,1998,Hatchback,1.0,1400.0,Petrol,Manual,2200.0
3,Renault,Laguna,2012,Universal,110000.0,1500.0,Diesel,Manual,6550.0
4,Opel,Astra,2006,Universal,200000.0,1600.0,Metan/Propan,Manual,4100.0
...,...,...,...,...,...,...,...,...,...
37259,Land Rover,Freelander,2002,Crossover,225000.0,1800.0,Metan/Propan,Manual,4400.0
37260,Dacia,Logan Mcv,2015,Universal,89000.0,1500.0,Diesel,Manual,7000.0
37261,Renault,Modus,2009,Hatchback,225.0,1500.0,Diesel,Manual,4500.0
37262,Mazda,6,2006,Combi,370000.0,2000.0,Diesel,Manual,4000.0
37263,Renault,Grand Scenic,2006,Minivan,300000.0,1500.0,Diesel,Manual,4000.0

In [4]:
DF['Engine_capacity(cm3)'].median()

1800.0

In [5]:
DF.groupby('Fuel_type').count()

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Transmission,Price(euro)
Fuel_type,,,,,,,,
Diesel,17198,17198,17198,17198,17198,17198,17198,17198
Electric,282,282,282,282,282,282,282,282
Hybrid,1976,1976,1976,1976,1976,1976,1976,1976
Metan/Propan,4169,4169,4169,4169,4169,4169,4169,4169
Petrol,13175,13175,13175,13175,13175,13175,13175,13175
Plug-in Hybrid,464,464,464,464,464,464,464,464

In [6]:
mask1 = DF['Style'] == 'Universal'
mask2 = DF['Price(euro)'] > 10000
#mask3 = melb_df['SellerG'] == 'McGrath'
DF[mask1 & mask2].count()

Make                    868
Model                   868
Year                    868
Style                   868
Distance                868
Engine_capacity(cm3)    868
Fuel_type               868
Transmission            868
Price(euro)             868
dtype: int64

In [9]:
mask1 = DF['Make'] == 'Mercedes'
mask2 = DF['Year'] < 1980
#mask3 = melb_df['SellerG'] == 'McGrath'
DF[mask1 & mask2].count()

Make                    6
Model                   6
Year                    6
Style                   6
Distance                6
Engine_capacity(cm3)    6
Fuel_type               6
Transmission            6
Price(euro)             6
dtype: int64